<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrow Book</title>
	<style>
		body{
			display: flex;
			flex-direction: column;
      	  justify-content: center;
      	  align-items: center;
		}
		form{
			display: flex;
			flex-direction: column;
		}
	</style>
</head>
<body>
	<h1>Borrow book</h1>
		<form method="post">
			<label>my id :</label><input type = "text" name = "s_id">
			<label>my name :</label><input type = "text" name = "s_name">
			<label>my phone number :</label><input type = "text" name = "phone">
			<label>book name :</label><input type = "text" name = "b_name">
			<button type="borrow">Borrow</button>
		</form>
</body>
</html>
