<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate Book</title>
	<style>
		body{
			display: flex;
			flex-direction: column;
      	  justify-content: center;
      	  align-items: center;
		}
		form{
			display: flex;
			flex-direction: column;
		}
	</style>
</head>
<body>
	<h1>Donate book</h1>
		<form method="post">
			<label>book code :</label><input type = "text" name = "b_code">
			<label>book name :</label><input type = "text" name = "b_name">
			<label>book author :</label><input type = "text" name = "author">
			<label>book price :</label><input type = "text" name = "price">
			<label>book publish :</label><input type = "text" name = "publish">
			<button type="donate">Donate</button>
		</form>
</body>
</html>
