<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Book</title>
</head>
<body>
	<h1>My book</h1>
		<form method="post">
			<label>my id :</label><input type = "text" name = "s_id">
			<button type="book">My Book</button>
		</form>
</body>
</html>
