.gallery-loader {
  text-align: center;
}

#addPhotoInput {
  display: none;
}

.add-photo {
  transform: scale(3);
  position: fixed;
  bottom: 5em;
  right: 7em;
  cursor: pointer;
}

.gallery-nav {
  height: 3.5em;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1.7em;
  margin-bottom: 2em;
}

.item {
  height: 20em;
  width: 17.5em;
  margin-bottom: 2em;
  border: 3px solid white;
  color: black;
  background-image: url("https://user-images.githubusercontent.com/66371206/166138517-0b70c418-2ab4-4df0-89c4-62e143d26fde.jpg");
}

.item > img {
  height: 100%;
  width: 100%;
  opacity: 95%;
  background-color: #0094d0;
  object-fit: cover;
}

.item > img:hover {
  opacity: 85%;
}
